node_modules
.idea
.vscode
dist
yarn.lock
package-lock.json
yarn-error.log
.tool-versions

.venv
venv

.DS_Store
__pycache__
*.pyc

packages/dm-core/src/build.css
packages/dm-core-plugins/src/build.css

*.tsbuildinfo
/example/job_handlers/reverse_description/results/
