name: New release

on:
  # Workflow dispatch is used for manual triggers
  workflow_dispatch:
    inputs:
      release-tag:
        description: 'GitHub release tag'
        required: true
        type: string
  workflow_call:
    inputs:
      release-tag:
        description: 'GitHub release tag'
        required: true
        type: string

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  publish-latest:
    uses: ./.github/workflows/publish-image.yaml
    with:
      image-tags: latest,${{ inputs.release-tag }}

  deploy-test:
    needs: publish-latest
    uses: ./.github/workflows/deploy-to-radix.yaml
    with:
      radix-environment: "dev"